<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />

    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <h1>{{ title }}</h1>
    <p align="right"> UTC : {{ time }} </p>
    <p align="right"> KST : {{ ktime }} </p>

    <ul class="tabs">
        <li class="tab-link on" data-tab="menu1" ><a href="#">순위 리스트</a></li>
<!--        <li class="tab-link " data-tab="menu2" ><a href="#">변동 순위 TOP10</a></li>-->
        <li class="tab-link " data-tab="menu3" ><a href="#">과거 리스트</a></li>
    </ul>

    <div id="menu1" class="tab-content on ">

        <table id="dic1" class="display" style="width:100%">
            <thead>
            <tr>
                <th>순위</th>
                <th>종목</th>
                <th>변경사항</th>
                <th>상승폭</th>
                <th>거래대금</th>
                <th>이전 거래대금</th>
            </tr>
            </thead>
        </table>
    </div>

<!--    <div id="menu2" class="tab-content">-->

<!--&lt;!&ndash;        <p> This is menu2 content</p>&ndash;&gt;-->
<!--        <table id="dic2" class="display" style="width:100%">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>순위</th>-->
<!--                <th>종목</th>-->
<!--                <th>변경사항</th>-->
<!--                <th>상승폭</th>-->
<!--                <th>이전 거래대금</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--        </table>-->
<!--    </div>-->

    <div id="menu3" class="tab-content">

        <div style="display:flex;float:right">
        <ul class="time">
            <li style="padding-right:10px">
                <button id="time0" >0시 </button>
            </li>
            <li style="padding-right:10px">
                <button id="time4">4시 </button>
            </li>
            <li style="padding-right:10px">
                <button id="time8">8시 </button>
            </li>
            <li style="padding-right:10px">
                <button id="time12">12시 </button>
            </li>
            <li style="padding-right:10px">
                <button id="time16">16시 </button>
            </li>
            <li>
                <button id="time20">20시 </button>
            </li>
        </ul>
        </div>
<!--        <p> This is menu2 content</p>-->
        <table id="dic3" class="display" style="width:100%">
            <thead>
            <tr>
                <th>순위</th>
                <th>종목</th>
                <th>변경사항</th>
                <th>상승폭</th>
                <th>거래대금</th>
                <th>이전 거래대금</th>
            </tr>
            </thead>
        </table>
    </div>

    {% block content %}
    <script type="text/javascript" >
        var dataList = {{dataList|tojson}} ;
        var timeList;
        $(function(){
            $('#time0').on('click', function(e){
                e.preventDefault()
                timeList = dataList[0]
                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();
                return false;
            });
            $('#time4').on('click', function(e){
                e.preventDefault()
                timeList = dataList[1]
                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();
                return false;
            });
            $('#time8').on('click', function(e){
                e.preventDefault()
                timeList = dataList[2]
                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();
                return false;
            });
            $('#time12').on('click', function(e){
                e.preventDefault()
                timeList = dataList[3]

                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();

                return false;
            });
            $('#time16').on('click', function(e){
                e.preventDefault()
                timeList = dataList[4]
                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();

                return false;
            });
            $('#time20').on('click', function(e){
                e.preventDefault()
                timeList = dataList[5]
                var table = $("#dic3").DataTable();
                table.clear();
                table.rows.add(timeList).draw();
                return false;
            });
        });
        $(document).ready( function () {
            $('ul.time li button').click(function() {
                $('ul.time li button').removeClass('on');
                $(this).addClass('on');
            });
			$('ul.tabs li').click(function() {
				var activeTab = $(this).attr('data-tab');
				$('ul.tabs li').removeClass('on');
				$('.tab-content').removeClass('on');
				$(this).addClass('on');
				$('#' + activeTab).addClass('on');

				if(activeTab == 'menu1'){
				    $("#dic1").DataTable({
                          destroy: true,
                         "data": {{ data|tojson }},
                         "iDisplayLength": 100,
                         columnDefs:[
                         {width:35, targets:0},
                         {width:100, targets:1},
                         {width:60, targets:2},
                         {width:45, targets:3},
                         {width:70, targets:4}
                         ],
                        columns: [
                            {"data": "id"},
                            {"data": "korean_name"},
                            {"data": "change"},
                            {"data": "bw"},
                            {"data": "value"},
                            {"data": "prevValue"}
                        ],
                        "language": {
                            "emptyTable": "데이터가 없어요.",
                            //"lengthMenu": "페이지당 _MENU_ 개씩 보기",
                            //"info": "현재 _START_ - _END_ / _TOTAL_건",
                            "infoEmpty": "데이터 없음",
                            "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                            //"search": "에서 검색: ",
                            "zeroRecords": "일치하는 데이터가 없어요.",
                            "loadingRecords": "로딩중...",
                            "processing":     "잠시만 기다려 주세요...",
                            //"paginate": {
                            //    "next": "다음",
                            //    "previous": "이전"
                            //}
                        },
                    });
				}else if(activeTab == 'menu3'){
				    $("#dic3").DataTable({
				         destroy: true,
                         "iDisplayLength": 100,
                         "data": timeList,
                         columnDefs:[
                         {width:35, targets:0},
                         {width:100, targets:1},
                         {width:60, targets:2},
                         {width:45, targets:3},
                         {width:70, targets:4}
                         ],
                        columns: [
                            {"data": "id"},
                            {"data": "korean_name"},
                            {"data": "change"},
                            {"data": "bw"},
                            {"data": "value"},
                            {"data": "prevValue"}
                        ],
                        "language": {
                            "emptyTable": "데이터가 없어요.",
                            //"lengthMenu": "페이지당 _MENU_ 개씩 보기",
                            //"info": "현재 _START_ - _END_ / _TOTAL_건",
                            "infoEmpty": "데이터 없음",
                            "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                            //"search": "에서 검색: ",
                            "zeroRecords": "일치하는 데이터가 없어요.",
                            "loadingRecords": "로딩중...",
                            "processing":     "잠시만 기다려 주세요...",
                            //"paginate": {
                            //    "next": "다음",
                            //    "previous": "이전"
                            //}
                        },
                    });
				}

			})

            $("#dic1").DataTable({
                 "data": {{ data|tojson }},
                 "iDisplayLength": 100,
                 columnDefs:[
                 {width:35, targets:0},
                 {width:100, targets:1},
                 {width:60, targets:2},
                 {width:45, targets:3},
                 {width:70, targets:4}
                 ],
                columns: [
                    {"data": "id"},
                    {"data": "korean_name"},
                    {"data": "change"},
                    {"data": "bw"},
                    {"data": "prevValue"}
                ],
                "language": {
                    "emptyTable": "데이터가 없어요.",
                    //"lengthMenu": "페이지당 _MENU_ 개씩 보기",
                    //"info": "현재 _START_ - _END_ / _TOTAL_건",
                    "infoEmpty": "데이터 없음",
                    "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                    //"search": "에서 검색: ",
                    "zeroRecords": "일치하는 데이터가 없어요.",
                    "loadingRecords": "로딩중...",
                    "processing":     "잠시만 기다려 주세요...",
                    //"paginate": {
                    //    "next": "다음",
                    //    "previous": "이전"
                    //}
                },
            });



        });



    </script>
    {% endblock %}
</div>



</body>

</html>